@use './vars';
@use 'calendar/calendar';


* {
    padding:0;
    margin: 0;
    font-family: "Poppins", sans-serif;
  }

main {
    display:flex;
    height:100vh;
}

.left {
    // background-color: lightblue;
    min-width: 200px;
    width: 300px;
    padding: 20px 0 20px 35px;
    display: flex;
}

.logo {
    font-size: 28px;
    font-weight: 600;

        i {
            margin-right: 12px; 
            color: vars.$mainPurple;   
        }
}

.side-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.category {
    p {
        font-size: 18px;
    }

    ul {
        padding: 0;
    }

    ul li {
        list-style: none;
        margin-left: 0px;
        margin-bottom: 24px;
    }

    ul li a {
        font-size: 18px;
        font-weight: 500;
        text-decoration: none;
        color: vars.$font-color;
    }

    ul li a i {
        margin-right: 12px;
    }

    .cate-title {
        font-size: 14px;
        font-weight: 500;
        color: grey;
    }
}

.friend-box {
    display: flex;
    align-items: center;
    // background-color: lightpink;
    padding: 0;
    margin-bottom: 24px;

    span {
        height: 40px;
        width: 40px;
        background-color: vars.$font-color;
        border-radius: 50%;
        margin-right: 12px;
    }
}

.friend-info {
    // background-color: lightgoldenrodyellow;
    width: 70%;

    .friend-name {
        font-size: 16px;
        font-weight: 600;
        margin: 0;
    }

    .friend-type {
        font-size: 14px;
        color: grey;
        margin: 0;
    }
}

.logout {
    color: orange;
}

.right {
    background-color: #dadfea;
    width: 100%;
    height: 100%;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
    padding: 12px 35px 12px 0;
    margin-bottom: 12px;

        .nav-left {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            padding: 0 12px;
            width: 70%;
            // max-width: 700px;
            background-color: lightpink;


            input {
                font-size: 16px;
                width: 90%;
                background-color: #f6f6f6;
                border: 1px solid grey;
            }
        }

        .nav-right {
            display: flex;
            align-items: center;
            padding: 4px 8px;

            span {
                height: 40px;
                widtH: 40px;
                // border-radius: 50%;
                background-color: vars.$font-color;
                margin-right: 24px;
            }

            .vl {
                border-left: 2px solid grey;
                height: 40px;    
                margin-right: 24px;
            }

            .name {
                display: flex;
                // width: 150px;
                align-items: center;
                background-color: lightgoldenrodyellow;
                height: 0;

                p:nth-of-type(1) {
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;;
                    background-color: vars.$font-color;
                    margin-right: 12px;
                }

                p:nth-of-type(2) {
                    font-weight: 400;
                    font-size: 16px;
                }
            }
        }

        
}

.right {
    background-color:#dadfea;
    width:100%;
}

.topHalf{
    width:40%;
    height:auto;
    padding: vars.$cardPadding;
    background-color:gray;
    margin:auto;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    border-radius: vars.$border-radius;
}

.headCont{
    width:100%;
    height:200px;
    background-color:vars.$mainPurple;
    border-radius:vars.$border-radius;
    color:white;
    margin-bottom:10px;
    padding: vars.$cardPadding;
}

.headBut{
    width:100px;
    height:auto;
    padding: vars.$cardPadding;
    background-color:black;
    color:white;
    border-radius:25px;
    text-align:center;
    font-size:13px;
    
}

.fa-chevron-right{
    width:10px;
    font-size:12px;
    color:black;
    background-color:white;
    padding:8px;
    border-radius:20px;
    margin-left:10px;
}

.smallTop{
    width:150px;
    height:50px;
    padding: vars.$cardPadding;
    background-color:white;
    border-radius:vars.$border-radius;
}
