@use './vars';
@use 'calendar/calendar';

body{
    padding:0;
    font-family: "Poppins", sans-serif;
    font-optical-sizing:auto;
    font-weight:400;
    font-style:normal;
  }

main {
    display:flex;
    height:100vh;
}

.left {
    background-color:lightblue;
    min-width:200px;
    width:300px;
}

.right {
    background-color:#dadfea;
    width:100%;
}

.topHalf{
    width:40%;
    height:auto;
    padding:10px;
    background-color:gray;
    margin:auto;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

.headCont{
    width:100%;
    height:auto;
    padding:10px;
    background-color:vars.$mainPurple;
    border-radius:vars.$border-radius;
    color:white;
    margin-bottom:10px;
}

.headCont p{
    letter-spacing:2.5px;
    margin-left:15px;
}

.headCont h1{
    font-weight:300;
    margin-left:15px;
    line-height:.5;
}

.headBut{
    width:110px;
    height:auto;
    padding:10px;
    background-color:black;
    color:white;
    border-radius:25px;
    text-align:center;
    font-size:13px;
    margin-left:15px;
}

.fa-chevron-right{
    width:10px;
    font-size:12px;
    color:black;
    background-color:white;
    padding:8px;
    border-radius:20px;
    margin-left:10px;
}

.smallTop{
    width:150px;
    height:50px;
    padding:5px;
    background-color:white;
    border-radius:vars.$border-radius;
    color:rgb(148, 145, 145);
}

.smallTop p{
    color:black;
    font-weight:550;
}